body.auth-page {
    background-color: #f8f9fa;
}

.login-card {
    background-color: #005d66 !important;
    border-radius: 20px;
    border: none;
}

.login-input {
    border: none;
    padding: 12px 20px;
    border-radius: 50px !important;
}

.btn-login {
    background-color: #00d47e !important;
    color: white;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

