/* Reset Body */
body { 
    background-color: #f1f5f9; /* Warna latar konten utama (terang) */
    overflow-x: hidden; 
}

/* CSS Hack agar Sidebar Full Height & Konten Scrollable */
.main-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}